*/README.html
*.swp
*.swo
*.tgz
*.log
.*
*.json
retropikzel/*/README.html
foreign
venv
tmp
run-test*
Akku.*
srfi
snow
*.wasm
*.wat
*.js
*.a
*.o
*.so
*.import.*
*.link
core.*
venv*
retropikzel/wasm/plus.sld
